


/* Styles for Ryan Lackey Portfolio Website Wordpress */

/*
WEBSITE Non Bootstrap CSS preferences
*/
.bg-brown {
  background-color: #eddfcc;
}
.bg-dark-blue {
  background-color: rgb(33, 59, 80);
}
.bg-light-blue {
  background-color: rgb(28, 67, 98);
}
.bg-grey {
  background-color: rgb(166, 166, 166);
}
.bg-light-grey {
  background-color: rgb(230, 230, 230);
}
.text-dark-blue {
  color: #213b50 !important;
}
.text-brown {
  color: #eddfcc;
}
.bg-black-trans-1 {
    background-color: rgba(0,0,0, .1);
}
.bg-black-trans-5 {
    background-color: rgba(0,0,0, .5);
}
.bg-white-trans-7 {
    background-color: rgba(255,255,255,.7);
}
.bg-white-trans-9 {
    background-color: rgba(255,255,255,.9);
}
.bg-blue-trans-5 {
  background-color: rgba(33, 59, 80, .5);
}
.blue-gradient {
  background-image: linear-gradient(rgba(33, 59, 80, .9) 25%,  rgba(43, 81, 112, .2));
}
.box-shadow-y-5 {
  box-shadow: 0 1px 5px 1px rgba(0,0,0, .2);
}
.text-grey {
  color: rgb(153, 153, 153) !important;
}
.border-color-grey {
  border-color: rgb(209, 209, 209);
}
.border-dark-blue {
  border-color: #213b50 !important;
}
.border-top-dark-blue-5 {
  border-top: solid 5px #213b50;
}
.border-size-md {
  border-top-width: 4px;
}
.border-bottom-brown {
    border-bottom: solid 2px #cdbba4;
}
.border-radius-7 {
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
}
.border-radius-25 {
  border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -o-border-radius: 25px 25px 25px 25px;
}
.z-index-50 {
  z-index: 50;
}


html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section, article, header, nav, aside{
  display: block;
}
/*
Nav bar
*/
#info {
  margin-bottom: 0 !important;
  height: 100%;
  font-size: 14px;
}
#navBar {

box-shadow: 0 1px 4px 1px rgba(0,0,0, .1);

}

.navbar-dark-icon {
  color: rgb(183, 185, 186);

}
#logoWrapper {
  height: inherit;
  padding: 5px;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
}
.logo-design {
  color: rgb(69, 205, 132);
  font-weight: bold;

}
/* .toggler-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
} */
#toggler {
 position: absolute;
 top: 45%;
 right: 2%;
  width: 25px;
  height: 60px;

}

#toggler input[type=checkbox]{
  margin-top: 10px;
  -ms-transform: scale(5);
   -moz-transform: scale(5);
   -webkit-transform: scale(5);
   -o-transform: scale(5);
   transform: scale(5);
   padding: 20px;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;
    display: block;
}

.hamburger span {
  background-color: #213b50;
  height: 3px;
  width: 100%;
}
.hamburger span:nth-child(1) {
  position: absolute;
  top: -7px;
  right: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform .4s linear .30s;
  -webkit-transition: transform .4s linear .30s;
  -moz-transition: transform .4s linear .30s;
  -o-transition: transform .4s linear .30s;
  -ms-transition: transform .4s linear .30s;

}
.hamburger span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform .4s linear .55s;
  -webkit-transition: transform .4s linear .55s;
  -moz-transition: transform .4s linear .55s;
  -o-transition: transform .4s linear .55s;
  -ms-transition: transform .4s linear .55s;

}
.hamburger span:nth-child(3) {
  position: absolute;
  top: 7px;
  right: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform .4s linear .8s;
  -webkit-transition: transform .4s linear .8s;
  -moz-transition: transform .4s linear .8s;
  -o-transition: transform .4s linear .8s;
  -ms-transition: transform .4s linear .8s;
 }

.burger:checked ~ .hamburger span:nth-child(1),
.burger:checked ~ .hamburger span:nth-child(2),
.burger:checked ~ .hamburger span:nth-child(3)
{
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
}
.burger:not(:checked) ~ .hamburger span:nth-child(1),
.burger:not(:checked) ~ .hamburger span:nth-child(2),
.burger:not(:checked) ~ .hamburger span:nth-child(3)
{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
/*
Menu Modal
*/

#servicesModal {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  bottom: -100vh;
  z-index: 100;

}
#servicesContainer {
  max-width: 300px;
  width: 100%;
  margin-top: 15%;
  position: relative;
}
.services-modal-close {
  color: #FFFFFF;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 105;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  -ms-transition: transform .5s;
}
.services-modal-close input[type=checkbox]{
  margin-top: 10px;
  -ms-transform: scale(5);
   -moz-transform: scale(5);
   -webkit-transform: scale(5);
   -o-transform: scale(5);
   transform: scale(5);
   padding: 20px;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;
    display: block;
}
.close {
  width: 50px;
  height: 50px;
  transition: .5s;
}
.close span {

  background-color: rgb(166, 166, 166);
  height: 3px;
  width: 100%;
  display: block;

}
.close span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);


}
.close span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);

}



#menuUl {
  width: 250px;


}
#menuUl li {
  list-style: none;
  margin-top: 25px;

}
.pos-left {
  position: absolute;
  left: 5%;
  top: 5%;
}

.logo-design {
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}
.logo-design:hover {
  text-decoration: none;
  font-weight: normal;
  color: #34546f;
}

.nav-design {
  color: #213b50;
  font-weight: bold;
  font-size: 25px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}
.nav-design:hover {
  color: #5983a7 !important;
  text-decoration: none;
}

/*
Media Queries for top Info and Nav bars
*/

@media screen and (max-width: 480px) {
  .logo-design {
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
  #info {
    margin-bottom: 0 !important;
    height: 100%;
    font-size: 12px;
  }
}

/*
Header section
*/

#heroImg {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
 justify-content: center;
 color: #FFFFFF;
 padding: 0;
}
.caption-container {
  width: 450px;
  max-height: 350px;
  position: relative;
  left: 20%;
  margin-top: 10%;
  text-align: center;
  border-radius: 5%;
  font-weight: bold;
  overflow: hidden;
  animation: bgShade .7s linear .5s 1 forwards;
}

@keyframes bgShade {
  100% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 1px 1px rgb(198, 198, 198);
  }
}
@-webkit-keyframes bgShade {
  100% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 1px 1px rgb(198, 198, 198);
  }
}
@-moz-keyframes bgShade {
  100% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 1px 1px rgb(198, 198, 198);
  }
}
@-o-keyframes bgShade {
  100% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 1px 1px rgb(198, 198, 198);
  }
}
@-ms-keyframes bgShade {
  100% {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 1px 1px rgb(198, 198, 198);
  }
}


#devH {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;

animation: Dev .5s ease-out .5s 1 forwards;
-webkit-animation: Dev .5s ease-out .5s 1 forwards;
-moz-animation: Dev .5s ease-out .5s 1 forwards;
-o-animation: Dev .5s ease-out .5s 1 forwards;
-ms-animation: Dev .5s ease-out .5s 1 forwards;

}
@keyframes Dev {
100% {
  background-color: #213b50;


}
}
@-webkit-keyframes Dev {
100% {
  background-color: #213b50;

}
}
@-moz-keyframes Dev {
100% {
  background-color: #213b50;

}
}
@-o-keyframes Dev {
100% {
  background-color: #213b50;

}
}
@-ms-keyframes Dev {
100% {
  background-color: #213b50;

}
}

#devH span {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  left: -25%;
  font-size: 18px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0,0,0, 1);
  color: rgb(198, 198, 198);
  transform: translateY(-175%);
  -webkit-transform: translateY(-175%);
  -moz-transform: translateY(-175%);
  -o-transform: translateY(-175%);
  -ms-transform: translateY(-175%);
  animation: moveDev .5s ease-out 1.25s 1 forwards;
  -webkit-animation: moveDev .5s ease-out 1.25s 1 forwards;
  -moz-animation: moveDev .5s ease-out 1.25s 1 forwards;
  -o-animation: moveDev .5s ease-out 1.25s 1 forwards;
  -ms-animation: moveDev .5s ease-out 1.25s 1 forwards;

}
@keyframes moveDev {
  100% {
    transform: translateY(0%);


  }
}
@-webkit-keyframes moveDev {
  100% {
    transform: translateY(0%);

  }
}
@-moz-keyframes moveDev {
  100% {
    transform: translateY(0%);

  }
}
@-o-keyframes moveDev {
  100% {
    transform: translateY(0%);

  }
}
@-ms-keyframes moveDev {
  100% {
    transform: translateY(0%);

  }
}

#welcomeInfo {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
}
#welcomeP {

  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -o-transform: translateY(200%);
  -ms-transform: translateY(200%);
  animation: moveWel 1s ease-out 2.5s 1 forwards;
  -webkit-animation: moveWel 1s ease-out 3s 1 forwards;
  -moz-animation: moveWel 1s ease-out 3s 1 forwards;
  -o-animation: moveWel 1s ease-out 3s 1 forwards;
  -ms-animation: moveWel 1s ease-out 3s 1 forwards;

}
@keyframes moveWel {
  100% {
    transform: translateY(10%);
  }
  }
  @-webkit-keyframes moveWel {
  100% {
    transform: translateY(10%);
  }
  }
  @-moz-keyframes moveWel {
  100% {
    transform: translateY(10%);
  }
  }
  @-o-keyframes moveWel {
  100% {
    transform: translateY(10%);
  }
  }
  @-ms-keyframes moveWel {
  100% {
    transform: translateY(10%);
  }
}
#bottomLine {
position: absolute;
width: 100%;
height: 1px;
padding: 0;
margin: 0 auto;
display: block;
background-color: rgba(232, 232, 232, 1);
transform: translateX(200%);
-webkit-transform:  translateX(200%);
-moz-transform:  translateX(200%);
-o-transform:  translateX(200%);
-ms-transform:  translateX(200%);
animation: bottomLine .5s ease-out 2.75s 1 forwards;
-webkit-animation: bottomLine .5s ease-out 2.75s 1 forwards;
-moz-animation: bottomLine .5s ease-out 2.75s 1 forwards;
-o-animation: bottomLine .5s ease-out 2.75s 1 forwards;
-ms-animation: bottomLine .5s ease-out 2.75s 1 forwards;
}

@keyframes bottomLine {
100% {
  transform: translateX(0%);
}
}
@-webkit-keyframes bottomLine {
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes bottomLine {
  100% {
    transform: translateX(0%);
  }
}
@-o-keyframes bottomLine {
  100% {
      transform: translateX(0%);
  }
}
@-ms-keyframes bottomLine {
  100% {
      transform: translateX(0%);
  }
}

#nameH {

  overflow: hidden;


}


#nameH span {
  width: 100%;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateX(125%);
  -webkit-transform: translateX(125%);
  -moz-transform: translateX(125%);
  -o-transform: translateX(125%);
  -ms-transform: translateX(125%);
  animation: moveName .5s ease-out 2s 1 forwards;
  -webkit-animation: moveName .5s ease-out 2s 1 forwards;
  -moz-animation: moveName .5s ease-out 2s 1 forwards;
  -o-animation: moveName .5s ease-out 2s 1 forwards;
  -ms-animation: moveName .5s ease-out 2s 1 forwards;

}
@keyframes moveName {
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveName {
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes moveName {
  100% {
    transform: translateX(0%);
  }
}
@-o-keyframes moveName {
  100% {
    transform: translateX(0%);
  }
}
@-ms-keyframes moveName {
  100% {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 900px) {
  .caption-container {
    width: 400px;
    margin-top: 25%;
    position: relative;
    z-index: 60;
    text-align: center;
    color: rgb(224, 224, 224);
    font-weight: bold;

  }
 #devH span {
   font-size: 18px;
 }

 #nameH span {
   font-size: 19px;
 }
}
@media screen and (max-width: 680px) {
  .caption-container {
    width: 300px;
    margin-top: 25%;
    position: relative;
    left: 10%;
    z-index: 60;
    text-align: center;
    color: rgb(224, 224, 224);
    font-weight: bold;

  }
 #devH span {
   font-size: 18px;
   position: relative;
   left: 20%;
 }


}
@media screen and (max-width: 425px) {
  .caption-container {
    width: 225px;
    margin-top: 35%;
    position: relative;
    left: 0%;
    z-index: 60;

  }
 #devH span {
   font-size: 17px;
   position: relative;
   left: 100%;
 }
 #welcomeInfo {
   font-size: 14px;
 }
 @keyframes moveWel {
   100% {
     transform: translateY(0%);
   }
   }
   @-webkit-keyframes moveWel {
   100% {
     transform: translateY(0%);
   }
   }
   @-moz-keyframes moveWel {
   100% {
     transform: translateY(0%);
   }
   }
   @-o-keyframes moveWel {
   100% {
     transform: translateY(0%);
   }
   }
   @-ms-keyframes moveWel {
   100% {
     transform: translateY(0%);
   }
 }
 #nameH span {
   font-size: 16px;
 }
}

/*
About Section on front page
*/


#aboutSection {
  padding-bottom: 100px;
}
.personal-image {
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.5);
  border-bottom: solid 2px #cccccc;

}
.personal-image-animate {
  animation: moveImg 1s ease-in-out forwards;
  transform-origin: right;
}
@keyframes moveImg{
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes moveImg{
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@-moz-keyframes moveImg{
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@-o-keyframes moveImg{
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@-ms-keyframes moveImg{
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}


.about-info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 2;
  animation: reveal 1.3s reverse forwards;
  -webkit-animation: reveal 1.3s reverse forwards;
  -moz-animation: reveal 1.3s reverse forwards;
  -o-animation: reveal 1.3s reverse forwards;
  -ms-animation: reveal 1.3s reverse forwards;
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
}
@keyframes reveal{
  0% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-webkit-keyframes reveal{
  0% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-moz-keyframes reveal{
  0% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-o-keyframes reveal{
  0% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-ms-keyframes reveal{
  0% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
.about-tech-icon {
  font-size: 20px;
  color: rgb(213, 213, 213);
}
#aboutTechWrapper ul {
  list-style: none;
  position: relative;
  left: -2%;

}
#aboutTechWrapper ul li {
  color: rgb(89, 89, 89);
  background-color: #eddfcc;
  margin: 5px 0 0 10px;
  padding: 5px 10px;
  box-shadow: 0 0 4px 1px rgba(0,0,0, .4);
  display: inline-block;
}
.tech-info-li {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  animation: growLi .6s linear .5s forwards;
  -webkit-animation: growLi .6s linear .5s forwards;
  -moz-animation: growLi .6s linear .5s forwards;
  -o-animation: growLi .6s linear .5s forwards;
  -ms-animation: growLi .6s linear .5s forwards;

}
@keyframes growLi {
  100%{
    transform: scaleY(1);
    -webkit-transform-origin : 50% 100%;
   -moz-transform-origin : 50% 100%;
   -o-transform-origin : 50% 100%;
   -ms-transform-origin : 50% 100%;
   transform-origin : 50% 100%;
  }
}
@-webkit-keyframes growLi {
  100%{
    transform: scaleY(1);
    -webkit-transform-origin : 50% 100%;
   -moz-transform-origin : 50% 100%;
   -o-transform-origin : 50% 100%;
   -ms-transform-origin : 50% 100%;
   transform-origin : 50% 100%;
  }
}
@-moz-keyframes growLi {
  100%{
    transform: scaleY(1);
    -webkit-transform-origin : 50% 100%;
   -moz-transform-origin : 50% 100%;
   -o-transform-origin : 50% 100%;
   -ms-transform-origin : 50% 100%;
   transform-origin : 50% 100%;
  }
}
@-o-keyframes growLi {
  100%{
    transform: scaleY(1);
    -webkit-transform-origin : 50% 100%;
   -moz-transform-origin : 50% 100%;
   -o-transform-origin : 50% 100%;
   -ms-transform-origin : 50% 100%;
   transform-origin : 50% 100%;
  }
}
@-ms-keyframes growLi {
  100%{
    transform: scaleY(1);
    -webkit-transform-origin : 50% 100%;
   -moz-transform-origin : 50% 100%;
   -o-transform-origin : 50% 100%;
   -ms-transform-origin : 50% 100%;
   transform-origin : 50% 100%;
  }
}

.code-tags {
  color: rgb(97, 96, 96);
}

/*
Project Posts styles on front page
*/
.project-wrapper {
  padding-bottom: 100px;
}
.head-word {
  position: relative;
  z-index: 10;
  display: inline;
  width: 100%;
}
.border-word {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 3px;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  -ms-transition: .7s;
}
.project-header, .blog-header{
  position: sticky;
  top: 60px;
  z-index: 45;

}

.projects-visit, .blogs-visit {
  opacity: .1;
  -khtml-opacity: .1;
  -moz-opacity: .1;
  font-size: 18px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;

}

.project-header a, .blog-header a  {
  text-decoration: none;
  text-align: center;
  display: block;
}
.project-header a:hover .border-word  {
  transform: translateX(128%) scaleX(1.05);
  -webkit-transform: translateX(128%) scaleX(1.05);
  -moz-transform: translateX(128%) scaleX(1.05);
  -o-transform: translateX(128%) scaleX(1.05);
  -ms-transform: translateX(128%) scaleX(1.05);

}
.project-header a:hover  .projects-visit {
  opacity: .6;
  -khtml-opacity: .6;
  -moz-opacity: .6;
}
.blog-header a:hover .border-word  {
  transform: translateX(102%) scaleX(.70);
  -webkit-transform: translateX(102%) scaleX(.70);
  -moz-transform: translateX(102%) scaleX(.70);
  -o-transform: translateX(102%) scaleX(.70);
  -ms-transform: translateX(102%) scaleX(.70);

}
.blog-header a:hover  .blogs-visit {
  opacity: .6;
  -khtml-opacity: .6;
  -moz-opacity: .6;
}

#homePostWrapper {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.home-post-entry {
  max-width: 500px;
  max-height: 500px;
  position: relative;
  border-radius: 7px 7px 7px 7px;
  margin-top: 80vh;

}
.home-post-el:nth-child(odd){
  margin-top: 40vh;
}

.home-post-date {
  display: block;
  padding: 10px;
  font-size: 25px;
  font-family: 'Handlee', cursive;
  background-color: rgba(33, 59, 80, 1);
  position: sticky;
  left: 0;
  top: 40vh;

}


.neg-position {
  position: relative;
  top: -50px;

}
.home-thumbnail-anchor {
  position: relative;
  top: -50px;
  max-width: 500px;
  height: 270px !important;
  margin-bottom: 25px;
  z-index: 0;
  display: block;
}

.home-thumbnail img{
  width: 100%;
  height: 270px;
  z-index: 1;
  box-shadow: 0 1px 4px 1px rgba(0,0,0, .4);
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  border: solid 8px #FFFFFF;

}
.home-thumbnail-anchor:hover > .bg-shade {
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.home-thumbnail-anchor > .bg-shade {
  background-color: #FFFFFF; /* rgba(33, 59, 80, .7); */
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;

}
.bg-shade:before {
  content: 'Click to visit Website';
  width: 90%;
  height: inherit;
  color: #213b50;
  font-size: 25px;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 40%;
  left: 4%;
  z-index: 5;

}

/*
Blog Posts styles on front page
*/
#blogsSection {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;

}

.blog-wrapper {
  padding: 150px 0;
}

.home-blog-wrapper {
  max-width: 80%;
  position: relative;
  left: -5%;

}
.home-blog-entry {
  max-width: 350px;
  width: 100%;
  height: 200px;
  margin: 100px 0 0 8%;
  position: relative;
  overflow: hidden;
}

.home-blog-entry:hover #bgWhite {
 transform: translateY(0%);
 -webkit-transform: translateY(0%);
 -moz-transform: translateY(0%);
 -o-transform: translateY(0%);
 -ms-transform: translateY(0%);
}
.home-blog-entry:hover #borderTop, .home-blog-entry:hover #borderBottom {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
#bgWhite {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 5;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
}
#borderTop, #borderBottom {
  width: 75%;
  height: 1px;
  background-color: #213b50;
  transform: scale(.0001);
  -webkit-transform: scale(.0001);
  -moz-transform: scale(.0001);
  -o-transform: scale(.0001);
  -ms-transform: scale(.0001);
  transition: transform .5s linear .2s;
  -webkit-transition: transform .5s linear .2s;
  -moz-transition: transform .5s linear .2s;
  -o-transition: transform .5s linear .2s;
  -ms-transition: transform .5s linear .2s;
}
#borderTop {
  position: absolute;
  top: 25%;
  left: 13%;
}
#borderBottom{
  position: absolute;
  bottom: 25%;
  left: 13%;
}
/*
Media Queries Home Section Projects and Blogs
*/
@media screen and (max-width: 450px) {
  .home-post-date {
    display: block;
    padding: 10px;
    font-size: 25px;
    font-family: 'Handlee', cursive;
    background-color: rgba(33, 59, 80, 1);
    position: sticky;
    left: 0;
    top: 30vh;

  }

.home-thumbnail-anchor {
  position: relative;
  top: -50px;
  max-width: 500px;
  height: 175px !important;
  margin-bottom: 25px;
  z-index: 0;
  display: block;
}

.home-thumbnail img{
  width: 100%;
  height: 175px;
  z-index: 1;
  box-shadow: 0 1px 4px 1px rgba(0,0,0, .4);
  border: solid 8px #FFFFFF;

}
}
@media screen and (max-width: 400px) {
  .project-header, .blog-header{
    position: sticky;
    top: 55px;
    z-index: 45;

  }
  .head-word, .border-word {
    font-size: 18px;
  }


  .projects-visit, .blogs-visit {
    opacity: .1;
    -khtml-opacity: .1;
    -moz-opacity: .1;
    font-size: 15px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;

  }

  .project-header a, .blog-header a  {
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .project-header a:hover .border-word  {
    transform: translateX(160%) scaleX(1.35);
    -webkit-transform: translateX(160%) scaleX(1.35);
    -moz-transform: translateX(160%) scaleX(1.35);
    -o-transform: translateX(160%) scaleX(1.35);
    -ms-transform: translateX(160%) scaleX(1.35);


  }
  .blog-header a:hover .border-word  {
    transform: translateX(125%) scaleX(.80);
    -webkit-transform: translateX(125%) scaleX(.80);
    -moz-transform: translateX(125%) scaleX(.80);
    -o-transform: translateX(125%) scaleX(.80);
    -ms-transform: translateX(125%) scaleX(.80);

  }

}
/*
Blog Posts styles on Blog Archive index page
*/
#archiveBlogsSection {
  width: 100%;
  min-width: 500px;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#archiveBlogsSection a {
  text-decoration: none;

}
#archiveBlogsHeader {
  opacity: .5;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  max-width: 300px;
}
.archive-blogs-visit {
  opacity: .1;
  -khtml-opacity: .1;
  -moz-opacity: .1;
  font-size: 18px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;

}
#archiveBlogsSection a:hover .archive-blogs-visit {
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.archive-blogs-wrapper {
  max-width: 80%;
  position: relative;
  left: -5%;


}
.archive-blogs-entry {
  /* border: solid thin rgb(218, 211, 211); */
  max-width: 350px;
  width: 100%;
  height: 200px;
  margin: 100px 0 0 8%;
  position: relative;
  overflow: hidden;
}

.archive-blogs-entry:hover #archiveBgWhite {
 transform: translateY(0%);
 -webkit-transform: translateY(0%);
 -moz-transform: translateY(0%);
 -o-transform: translateY(0%);
 -ms-transform: translateY(0%);
}
.archive-blogs-entry:hover #archiveBorderTop, .archive-blogs-entry:hover #archiveBorderBottom {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
#archiveBgWhite {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 5;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
}
#archiveBorderTop, #archiveBorderBottom {
  width: 75%;
  height: 1px;
  background-color: #213b50;
  transform: scale(.0001);
  -webkit-transform: scale(.0001);
  -moz-transform: scale(.0001);
  -o-transform: scale(.0001);
  -ms-transform: scale(.0001);
  transition: transform .5s linear .2s;
  -webkit-transition: transform .5s linear .2s;
  -moz-transition: transform .5s linear .2s;
  -o-transition: transform .5s linear .2s;
  -ms-transition: transform .5s linear .2s;
}
#archiveBorderTop {
  position: absolute;
  top: 25%;
  left: 13%;
}
#archiveBorderBottom{
  position: absolute;
  bottom: 25%;
  left: 13%;
}



/*
Single Blog Styles
*/


#singleBlogSection {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#singleBlogSection a {
  text-decoration: none;

}
#singleBlogHeader {
  opacity: .5;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  max-width: 300px;
}

.single-blog-entry {
  /* border: solid thin rgb(218, 211, 211); */
  max-width: 600px;
  width: 100%;
  margin: 100px 0 0 0;
  position: relative;
  overflow: hidden;
}


/*
Archive Post Styles
*/

#archivePostSection a {
  text-decoration: none;
}

.archive-post-entry {
  max-width: 800px;
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;

}
.archive-thumbnail {
  width: 100%;
  height: auto;
  border-color: rgb(173, 173, 173);

}


/*
Single Post Styles
*/

#singlePostSection a {
  text-decoration: none;
}

.single-post-entry {
  /* border: solid thin rgb(218, 211, 211); */
  max-width: 800px;
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;

}
.single-thumbnail {
  width: 100%;
  height: auto;
  border-color: rgb(173, 173, 173);

}

/*
Comments Style
*/

#respond {
  background: #fbfbfb;
  padding:0 10px 0 10px;
}
/* Highlight active form field */

#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  display: block;
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;

}


#respond input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {
  box-shadow: 0 0 3px rgba(0,0,0, .2);
  margin: 0 1px 3px 0px;
  border: 1px solid rgba(0,0,0, .2);
}

#respond #author,
#respond #email,
#respond #url,
#respond #comment,
#respond #submit {
  margin: -10px 0 0 0;
}

#respond #submit {
  margin-bottom: 15px;
  padding: 10px;
  border: solid thin #213b50;
  color: #213b50;
  background-color: rgb(255,255,255);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  cursor: pointer;
}
#respond #submit:hover {
  background-color: #213b50;
  color: #FFFFFF;
}



.commentlist li {
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  padding: 5px 5px 15px 5px;
}
.commentlist .vcard img.avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;

}
.commentlist .comment-author a{
  color: #213b50;
  text-transform: capitalize;
}

.commentlist .comment-author a:hover{
  text-decoration: underline;
  color: #31536e;
}
.commentlist .vcard span.says {
  color: #949494;
}
.commentlist .commentmetadata a {
  color: #949494;
}
.commentlist .commentmetadata a:hover {
  color: #817e7e;
  text-decoration: underline;
}
.commentlist .reply a {
  padding: 5px;
  border: solid thin #213b50;
  color: #213b50;
  background-color: rgb(255,255,255);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  cursor: pointer;
}
.commentlist .reply a:hover {
  background-color: #213b50;
  color: #FFFFFF;
}

/*
Contact Section
*/

#contactInfo{
  background-color: #FFFFFF;
  width: 100%;
}
#contactDesc {
  font-size: 20px;

}

#formWrapper {
  max-width: 700px;

}
#formWrapper input[type="text"], #formWrapper input[type="email"], #formWrapper textarea{
  background-color:  #eddfcc;
  padding: 10px;
  font-weight: bold;


}
#formWrapper input[type="text"]:focus, #formWrapper input[type="email"]:focus, #formWrapper textarea:focus {
  border: solid thin rgb(134, 131, 131);
  box-shadow: 0 0 5px 1px rgba(0,0,0, .4);
  background-color: #d9cab7;
}
#testQ {
  font-size: 20px;
  color:  rgb(134, 131, 131);

}

#submitBtn {
  background-color: #213b50;
  padding: 5px;
  color: rgb(203, 203, 203);
  width: 150px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;

}
#submitBtn:hover {
  background-color: #2a475e;
}
#contactResponse span{
  padding: 5px 0px 5px 10px;
  display: block;
  color: #FFFFFF;
}


/*
Footer
*/
#designBy {
  color: rgba(173, 173, 173, 1);

}
